<!-- app/views/posts/show.html.erb -->
<h1><%= @post.title %></h1>

<p><%= @post.text %></p>

<%= render partial: 'like_button', locals: { post: @post } %>

<h2>Comments</h2>

<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.text %></li>
  <% end %>
</ul>
